In [1]:
import pymongo

'''
ATTENTION : 
------------------
TO RUN CODE , we must add 0.0.0.0 ip address in this url https://cloud.mongodb.com/v2/66dee2755426c7645712506c#/security/network/accessList
'''

'\nATTENTION : \n------------------\nTO RUN CODE , we must add 0.0.0.0 ip address in this url https://cloud.mongodb.com/v2/66dee2755426c7645712506c#/security/network/accessList\n'

In [2]:
myclient = pymongo.MongoClient("mongodb+srv://kjhnshid:5Y3YA4ohcLge71gZ@cluster0.zpp9k.mongodb.net/")

# DATABASE
mydb = myclient["mydatabase"]
print(myclient.list_database_names())

['mydatabase', 'sample_mflix', 'admin', 'local']

In [3]:
dblist = myclient.list_database_names()
if "mydatabase" in dblist:
  print("The database exists.")

The database exists.

In [6]:
# create COLLECTION
mycol = mydb["customers"]
print(mydb.list_collection_names())

['customers']

In [7]:
# ADD Query 
mydict = { "name": "sara", "address": "iran ,sari" }

#insert_one() method returns inserted_id, that holds the id of the inserted document.
mycol.insert_one(mydict) #save only one

InsertOneResult(ObjectId('66deff29eaafd8626e3f5bca'), acknowledged=True)

In [8]:
mydict = { "name": "Peter", "address": "Lowstreet 27" }

x = mycol.insert_one(mydict)

print(x.inserted_id)

66deffc3eaafd8626e3f5bcb

In [15]:
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

new_document= mycol.insert_many(mylist)
new_document.inserted_ids

[ObjectId('66df01e6eaafd8626e3f5bcc'),
 ObjectId('66df01e6eaafd8626e3f5bcd'),
 ObjectId('66df01e6eaafd8626e3f5bce'),
 ObjectId('66df01e6eaafd8626e3f5bcf'),
 ObjectId('66df01e6eaafd8626e3f5bd0'),
 ObjectId('66df01e6eaafd8626e3f5bd1'),
 ObjectId('66df01e6eaafd8626e3f5bd2'),
 ObjectId('66df01e6eaafd8626e3f5bd3'),
 ObjectId('66df01e6eaafd8626e3f5bd4'),
 ObjectId('66df01e6eaafd8626e3f5bd5'),
 ObjectId('66df01e6eaafd8626e3f5bd6'),
 ObjectId('66df01e6eaafd8626e3f5bd7')]

In [19]:
for doc in mycol.find() :
    print(doc)

{'_id': ObjectId('66defc54eaafd8626e3f5bc9'), 'name': 'kiana', 'address': 'iran ,tehran'}
{'_id': ObjectId('66deff29eaafd8626e3f5bca'), 'name': 'sara', 'address': 'iran ,sari'}
{'_id': ObjectId('66deffc3eaafd8626e3f5bcb'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('66df01e6eaafd8626e3f5bcc'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('66df01e6eaafd8626e3f5bcd'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('66df01e6eaafd8626e3f5bce'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('66df01e6eaafd8626e3f5bcf'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('66df01e6eaafd8626e3f5bd0'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('66df01e6eaafd8626e3f5bd1'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('66df01e6eaafd8626e3f5bd2'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('66df01e6eaafd8626e3f5bd3'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('66df01e6eaafd8626e3f5bd4'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('66df01e6eaafd8626e3f5bd5'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('66df01e6eaafd8626e3f5bd6'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('66df01e6eaafd8626e3f5bd7'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [17]:
mycol.find_one() # returns first document

{'_id': ObjectId('66defc54eaafd8626e3f5bc9'),
 'name': 'kiana',
 'address': 'iran ,tehran'}

# filter

In [22]:
for doc in  mycol.find({} , {"_id": 0 , "name": 1 , "address": 1 }) :
    print(doc)

{'name': 'kiana', 'address': 'iran ,tehran'}
{'name': 'sara', 'address': 'iran ,sari'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}

In [25]:
for doc in mycol.find({"name":"Peter"} , {"_id": 0 , "name": 1 , "address": 1 }) :
    print(doc)

# above command is Equal to below command 

mycol.find_one({"name":"Peter"} , {"_id":0 , "name":1 , "address":1})

{'name': 'Peter', 'address': 'Lowstreet 27'}

{'name': 'Peter', 'address': 'Lowstreet 27'}

# create new collection

In [27]:
mycol2 = mydb["students"]


print(mydb.list_collection_names())

['customers']

In [28]:
new_document = [{"name":"sara" , "avg":17.34} ,
                {"name":"ali"  , "avg":19.12} ,
                {"name":"john" , "avg":15.81}]


mycol2.insert_many(new_document)

print(mydb.list_collection_names)
for doc in mycol2.find({} , {}):
    print(doc)

<bound method Database.list_collection_names of Database(MongoClient(host=['cluster0-shard-00-00.zpp9k.mongodb.net:27017', 'cluster0-shard-00-01.zpp9k.mongodb.net:27017', 'cluster0-shard-00-02.zpp9k.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, authsource='admin', replicaset='atlas-lhcb4s-shard-0', tls=True), 'mydatabase')>
{'_id': ObjectId('66df0781eaafd8626e3f5bd8'), 'name': 'sara', 'avg': 17.34}
{'_id': ObjectId('66df0781eaafd8626e3f5bd9'), 'name': 'ali', 'avg': 19.12}
{'_id': ObjectId('66df0781eaafd8626e3f5bda'), 'name': 'john', 'avg': 15.81}

In [30]:
for doc in mycol2.find({},{"_id":0 , "name":1 , "avg":1}):
    print(doc)

{'name': 'sara', 'avg': 17.34}
{'name': 'ali', 'avg': 19.12}
{'name': 'john', 'avg': 15.81}

In [33]:
for doc in mycol2.find({"avg": {"$gt":16}} , {"_id":0 , "name":1 , "avg":1}):
    print(doc)

{'name': 'sara', 'avg': 17.34}
{'name': 'ali', 'avg': 19.12}

# sort

In [36]:
for doc in mycol2.find({} , {"_id":0 , "name":1 , "avg":1}).sort("avg"):
    print(doc)

print("\n")

# Descending
for doc in mycol2.find({} , {"_id":0 , "name":1 , "avg":1}).sort("avg",-1):
    print(doc)

{'name': 'john', 'avg': 15.81}
{'name': 'sara', 'avg': 17.34}
{'name': 'ali', 'avg': 19.12}


{'name': 'ali', 'avg': 19.12}
{'name': 'sara', 'avg': 17.34}
{'name': 'john', 'avg': 15.81}

# Delete a query

In [39]:
mycol.delete_many({"name": {"$gt": "S"}}) # DELETE names which their first character is "S" or after "S" in alphabet 

for doc in mycol.find({}, {"_id": 0 , "name": 1 , "address": 1 }):
    print(doc)

{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'Chuck', 'address': 'Main Road 989'}

In [40]:
mycol.delete_many({"name": {"$regex": "^B"} }) # delete names which start with B

for doc in mycol.find({}, {"_id": 0 , "name": 1 , "address": 1 }):
    print(doc)

{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Chuck', 'address': 'Main Road 989'}